<h2> Test authentication page </h2>

<% gmail = Gmail.connect(:xoauth, "email@gmail.com",
	:consumer_key    => '1088686098653-8cfl10ddddghugh62ku007dmdp0e5u1h.apps.googleusercontent.com',
  	:consumer_secret => 'EzKMbWTfnkbR6VxxoSUIpb1r'
 ) %>